
/* low pc */
@media (min-width:981px) and (max-width:1800px) {
    .hide-on-tablet{
        display: none;
    }
    .wide {
        width:100%;
    }
    .playlist{
        transform: translateX(100%);
    }
    .header__main{
        margin-right: 0;
    }
    .musicplayer__vol{
        margin-right: 300px;
    }
    .navbar__responsive i{
        display: block;
    }
    
}
@media (min-width:981px) and (max-width:1600px) {
    .wide {
        width:100%;
    }
    .playlist{
        transform: translateX(100%);
    }
    .header__main{
        margin-right: 0;
    }
    .musicplayer__vol{
        margin-right: 450px;
    }
    .navbar__responsive i{
        display: block;
    }
    .container__scroll{
        overflow-y: scroll;
        height: 35%;
    }
    .container__scroll::-webkit-scrollbar {
        width: 3px;
        border-radius: 30px;
    }
    .container__scroll::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        transition: all linear 1s;
        border-radius: 30px;
    }
}

@media (min-width:981px) and (max-width:1300px) {
    .hide-on-low{
        display: none;
    }
    .wide{
        width: 940px;
    }
    .m-3 {
        flex: 0 0 22%;
        max-width: 22%;
    }
    .musicplayer__listen-time .progress{
        width: 390px;
    }
    .musicplayer__vol{
        margin-right: 700px;
    }
    .container__scroll{
        overflow-y: scroll;
        height: 20%;
    }
    .slide__item .slide__item-img img{
        width: 290px;
        height: 165px;
    }

}

@media (min-width:981px) and (max-width:1100px){
    .hide-on-mac{
        display: none;
    }
    .wide{
        width: 800px;
    }
    .header__main-items .header__main-search input{
        width: 400px;
    }
    .slide__item .slide__item-img img{
        width: 240px;
        height: 130px;
    }
    .m-3 {
        flex: 0 0 22%;
        max-width: 22%;
    }
    .list__musics-items .list__items-img img{
        height: 170px; 
        width: 170px;
    }
    .musicplayer__listen{
        margin-left: 15px;
    }
    .musicplayer__listen-icon i{
        font-size: 15px;
    }
    .musicplayer__listen .musicplayer__listen-time input{
        width: 315px;
    }
}